.auth-form {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 5px 20px #cecece;
  margin: 10px auto; }
  .auth-form h1 {
    font-size: 38px;
    padding-top: 30px;
    text-align: center; }

.auth-brand {
  align-items: center;
  display: inline-flex;
  height: 65px;
  justify-content: center;
  width: 100%;
  font-size: 20px; }
  .auth-brand a {
    color: white;
    text-decoration: none; }
  .auth-brand .auth-logo {
    width: 80px;
    height: 100%; }
  .auth-brand h2 {
    margin: 40px 10px 30px; }

.auth-inputs input {
  background-color: #fff0;
  border: none;
  border-bottom: 1px solid #7979ff;
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin: 25px auto;
  outline: none;
  padding-bottom: 8px;
  padding-left: 5px;
  width: 340px; }

.auth-button {
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin: 30px auto;
  padding: 10px;
  width: 160px;
  background-color: #7979ff;
  color: white; }

.auth-button:hover {
  background-color: white;
  border: 1px solid #7979ff;
  color: blue; }
